<p-blockUI [blocked]="blockedDocument"></p-blockUI>

<div class="container mt-5 text-center" *ngIf="categories.length == 0">
    <h3>NO CATEGORIES YET. <a href="/admin/new-category" style="text-decoration: none;">Add One First!</a></h3>
</div>

<div class="container my-3" *ngIf="categories.length > 0">
    <div class="text-center">
        <h3>New Product Details</h3>
    </div>

    <div class="section p-5 pb-2 bg-light">

        <div class="form-floating my-3">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="product.name">
            <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="description" placeholder="Description" name="description"
                [(ngModel)]="product.description">
            <label for="description">Description</label>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Rich Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ame="richDescription"
                [(ngModel)]="product.richDescription">
            </textarea>
        </div>

        <label for="avatar">Choose the product picture:</label>
        <input type="file" id="avatar" class="form-control mb-3" accept="image/png, image/jpeg" name="image"
            (change)="getFiles($event)">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="brand" placeholder="Brand" name="brand"
                [(ngModel)]="product.brand">
            <label for="brand">Brand</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price" placeholder="Price" name="price"
                [(ngModel)]="product.price">
            <label for="price">Price</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="discount" placeholder="Discount" name="discount"
                [(ngModel)]="product.discount">
            <label for="discount">Discount</label>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Color</label>
            <select class="form-select" id="color" name="color" [(ngModel)]="product.color">
                <option value="" selected disabled hidden></option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="yellow">Yellow</option>
                <option value="gold">Gold</option>
                <option value="purple">Purple</option>
                <option value="orange">Orange</option>
                <option value="grey">Grey</option>
                <option value="brown">Brown</option>
                <option value="pink">Pink</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Category</label>
            <select class="form-select" id="inputGroupSelect02" name="category" [(ngModel)]="selectedCategoryId"
                (change)="setCategory($event)">
                <option value="" selected disabled hidden></option>
                <option *ngFor="let category of categories; let i = index" value={{category.id}}>
                    {{category.name[0].toUpperCase() + category.name.substring(1)}}
                </option>
            </select>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="countInStock" placeholder="Count in Stock" name="countInStock"
                [(ngModel)]="product.countInStock">
            <label for="countInStock">Count in Stock</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="isFeatured" name="isFeatured"
                [(ngModel)]="product.isFeatured">
            <label class="form-check-label" for="isFeatured">{{product.isFeatured? 'NEW' : 'USED'}}</label>
        </div>

        <div class="text-center mb-2">
            <button class="btn btn-success px-5 py-2" (click)="add()">ADD</button>
        </div>
    </div>
</div>

<p-toast position="top-center" key="tc" [baseZIndex]="5000"></p-toast>