<div class="row d-none d-lg-flex justify-content-center text-center mx-0" id="second-nav">
    <div class="col dropdown-header second-nav-menu-header">
        <a href="#">Super Market</a>
        <ul class="dropdown-menu second-nav-menu row">
            <li class="col"><a class="dropdown-item" href="#">Action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Another action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="col"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="col dropdown-header second-nav-menu-header">
        <a href="/products/electronics">Electronics</a>
        <ul class="dropdown-menu second-nav-menu row">
            <li class="col"><a class="dropdown-item" href="/products/electronics/laptops">PCs</a></li>
            <li class="col"><a class="dropdown-item" href="/products/electronics/televisions">Televisions</a></li>
            <li class="col"><a class="dropdown-item" href="/products/electronics/mobiles">Mobiles</a></li>
            <li class="col"><a class="dropdown-item" href="/products/electronics/headphones">Headphones</a></li>
        </ul>
    </div>
    <div class="col dropdown-header second-nav-menu-header">
        <a href="#">Health & Beauty</a>
        <ul class="dropdown-menu second-nav-menu row">
            <li class="col"><a class="dropdown-item" href="#">Action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Another action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="col"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="col dropdown-header second-nav-menu-header">
        <a href="#">Sports</a>
        <ul class="dropdown-menu second-nav-menu row">
            <li class="col"><a class="dropdown-item" href="#">Action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Another action</a></li>
            <li class="col"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="col"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
</div>