<app-navbar></app-navbar>

<app-second-navbar></app-second-navbar>

<!-- slideshow -->
<div class="row mt-3 mt-lg-3 mx-auto w-75" id="slideshow">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/1.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/2.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/3.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/4.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/5.jpg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="#"><img src="../../../assets/images/home/slideshow/6.png" class="d-block w-100" alt="..."></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- end of slideshow -->

<!-- body -->
<div class="container-fluid mt-3">

    <p-carousel [value]="laptopsList" styleClass="custom-carousel" [autoplayInterval]="2000" [circular]="true"
        [numVisible]="5" [numScroll]="1" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
        <ng-template pTemplate="header">
            <h3 class="mx-5">Laptops</h3>
        </ng-template>
        <ng-template let-laptop pTemplate="item">
            <a (click)="showProduct(laptop)" class="body-carousel" style="cursor: pointer;">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                            <img [src]="laptop.image" class=".product-image" style="width: 200px; height: 150px;">
                        </div>
                        <div>
                            <p class="p-mb-1">{{laptop.name}}</p>
                            <p-rating class="p-my-1" [(ngModel)]="laptop.rating" [cancel]="false"
                                [iconOnStyle]="{color: '#FEBF00'}" (onRate)="rate()"></p-rating>
                            <p class="mt-3 mb-2 old-price">
                                {{ laptop.discount > 0 ? (laptop.price + laptop.discount | currency:'EGP ') : ''
                                }}
                            </p>
                            <p class="new-price">
                                {{ laptop.price | currency:'EGP '}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </ng-template>
    </p-carousel>

    <p-carousel [value]="phonesList" styleClass="custom-carousel" [autoplayInterval]="2000" [circular]="true"
        [numVisible]="5" [numScroll]="1" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
        <ng-template pTemplate="header">
            <h3 class="mx-5 mt-4">Phones</h3>
        </ng-template>
        <ng-template let-phone pTemplate="item">
            <a (click)="showProduct(phone)" class="body-carousel" style="cursor: pointer;">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                            <img [src]="phone.image" class=".product-image" style="width: 200px; height: 150px;">
                        </div>
                        <div>
                            <p class="p-mb-1">{{phone.name}}</p>
                            <p-rating class="p-my-1" [(ngModel)]="phone.rating" [cancel]="false"
                                [iconOnStyle]="{color: '#FEBF00'}" (onRate)="rate()"></p-rating>
                            <p class="mt-3 mb-2 old-price">
                                {{ phone.discount > 0 ? (phone.price + phone.discount | currency:'EGP ') : '' }}
                            </p>
                            <p class="new-price">
                                {{ phone.price | currency:'EGP '}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </ng-template>
    </p-carousel>

    <p-carousel [value]="tvsList" styleClass="custom-carousel" [autoplayInterval]="2000" [circular]="true"
        [numVisible]="5" [numScroll]="1" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
        <ng-template pTemplate="header">
            <h3 class="mx-5 mt-4">TVs</h3>
        </ng-template>
        <ng-template let-tv pTemplate="item">
            <a (click)="showProduct(tv)" class="body-carousel" style="cursor: pointer;">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                            <img [src]="tv.image" class=".product-image" style="width: 200px; height: 150px;">
                        </div>
                        <div>
                            <p class="p-mb-1">{{tv.name}}</p>
                            <p-rating class="p-my-1" [(ngModel)]="tv.rating" [cancel]="false"
                                [iconOnStyle]="{color: '#FEBF00'}" (onRate)="rate()"></p-rating>
                            <p class="mt-3 mb-2 old-price">
                                {{ tv.discount > 0 ? (tv.price + tv.discount | currency:'EGP ') : '' }}
                            </p>
                            <p class="new-price">
                                {{ tv.price | currency:'EGP '}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </ng-template>
    </p-carousel>
</div>
<!-- end of body -->

<app-footer></app-footer>

<p-toast position="top-center" key="tc" [baseZIndex]="5000"></p-toast>